.container {
  width: 100%;
  min-height: 100vh;
  background: #76c850;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

table100 {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

dashboard {
  display: block;
  background-color: #bbd6ff;
  border-radius: 12px;
  border: none;
  color: rgb(31, 4, 150);
  padding: 32px 32px;
  margin:0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button {
  background-color: #191794;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 32px 32px;
  width: 30%;
  margin:0.3em;
    float: left;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button img {
  text-align: center;
  float: left;
  margin: 0.03em;
  padding: 0.03em;
  height: "24px";
  width: "24px";
}