<html>
<head>
    <meta charset="UTF-8">
    <link href="img/favicon.ico" rel="icon" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Plant Setting</title>
</head>
<body class="container">

<div class="body">
    <form action="configure" method="post">
        <button class="button" type="submit" value="Submit">
            Save
        </button>
    </form>
    <form action="configure" method="post">
        <button class="button" type="submit" value="Submit">
            Resset to Factory
        </button>
    </form>
    <form action="index.html">
        <button class="button" type="submit" value="Home">Home</button>
    </form>
</div>

<div class="body_box">
    <div class="toggle-box">
        <input type="checkbox" class="toggle-switch" checked="1" value="1"/>
        Auto Run
    </div>
    <div class="body">
        <div class="input_password">
            Date: <input name="login" type="date" class="input_line"/>
        </div>
    </div>
    <div class="body">
        <div class="input_password">
            Time: <input name="password" type="time" class="input_line"/>
        </div>
    </div>
    <div class="body">
        <div class="input_password">
            OFF time: <input name="OFF_time" type="datetime-local" class="input_line"/>
        </div>
    </div>
    <div class="body">
        <div class="input_password">
            DriveValue: <input name="DriveValue" type="number" value="255"
                               min="0" max="255" class="input_line"/>
        </div>
    </div>
    <div class="body">
        <div class="input_password">
            Sensor Period: <input name="SensorPeriod" type="number" value="0.5"
                                  min="0.1" max="5.0" class="input_line"/> second
        </div>
    </div>
    <div class="body">
        <div class="input_password">
            Plot Period: <input name="PlotPeriod" type="number" value="0.5"
                                min="0.1" max="5.0" class="input_line"/> second
        </div>
    </div>
</div>

<div class="body_box">
    <div class="body">
        <div class="input_password">
            Device: <input name="login" type="text" class="input_line" value="Custom name"/>
        </div>
    </div>
     <div class="body">
        <div class="ssids">
            <select class="select_ssid"><option>servo_1</option><option>servo_2</option></select>
        </div>
         <div class="toggle-box">
        <input type="checkbox" class="toggle-switch" checked="1" value="1"/>
        Enable
    </div>
    </div>
    <div class="body">
        <div class="input_password">
            <p>period: <input name="period" type="number" class="input_line" value="5" min="0" max="3600"/> sec</p>
            <p>work: <input name="period" type="number" class="input_line" value="5" min="0" max="3600"/> sec</p>
            <p>left: <input name="period" type="number" class="input_line" value="5" min="0" max="3600"/> sec</p>
        </div>
    </div>
     <div class="ssids">
            type: <select class="select_ssid"><option>relay</option><option>value</option><option>common</option></select>
        </div>
    <div class="toggle-box">
       Direction reverse <input type="checkbox" class="toggle-switch" checked="1" value="1"/>
    </div>
</div>


</body>
</html>