<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="img/favicon.ico" rel="icon" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Plant</title>
</head>
<body class="container">
<div>
    <div class="header">
        Plant Controller
    </div>
    <div class="body_box">
        <div class="body">

            <form action="setup.html">
                <button class="button"><img src="img/Setting.svg" alt="Setting"/></button>
            </form>
            <button class="button"><img src="img/apps.svg" alt="Setup"/></button>

        </div>
    </div>
    <div class="body_box">
        status
    </div>
</div>


</body>
</html>