<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Plant</title>
</head>
<body class="container">
<div>
    <div class="header">
        Plant Controller
    </div>
    <div class="body_box">
        <div class="body">
            <button class="button"><img src="Setting.svg" alt="Setting"/></button>

            <button class="button"><img src="apps.svg" alt="Setup"/></button>
            <form action="wifi_manager.html">
                <button class="button"><img src="SetupWiFi.svg" alt="WiFi_Manager"/></button>
            </form>

        </div>
    </div>
    <div class="body_box">
        status
    </div>
</div>


</body>
</html>